@import url(./utils/vars.css);

/* =================[  general  ]==================== */
html {
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
a {
  display: flex;
}
.main__wrapper,
.footer__wrapper,
.header__wrapper {
  max-width: 1176px;
  width: 100%;
  padding-inline: 32px;
}

.main__section,
.footer,
.header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button {
  background: var(--white);
  border-radius: var(--b-radius-btn);
  border: var(--border-btn);
}

.text {
  font-size: var(--f-size-base);
  line-height: var(--l-height-base);
  font-weight: var(--f-weight-base);
  color: var(--gray-blue-6);
  font-family: "Futura";
  white-space: initial;
  letter-spacing: 0.0025em;
}

.text.text_hint {
  font-size: var(--f-size-hint);
  line-height: var(--l-height-hint);
  font-family: "Futura Book";
}

.text.text_h1 {
  font-size: var(--f-size-h1);
  line-height: var(--l-height-h1);
  font-weight: var(--f-weight-h1);
  font-family: "Futura Cond";
  text-transform: uppercase;
}

.text.text_h2 {
  font-size: var(--f-size-h2);
  line-height: var(--l-height-h2);
  font-weight: var(--f-weight-h2);
  text-transform: uppercase;
}

.text.text_h3 {
  font-size: var(--f-size-h3);
  line-height: var(--l-height-h3);
  font-family: "Futura Demi";
}

.text.text_u {
  text-decoration: underline;
}

.text.text_bold {
  font-family: "Futura Demi";
}

.text.text_descr {
  font-family: "Futura Book";
}

.text.text_blue-2 {
  color: var(--blue-2);
}

.text.text_gray-blue-5 {
  color: var(--gray-blue-5);
}

.text.text_gray-blue-4 {
  color: var(--gray-blue-4);
}

/* =================[  header  ]==================== */
.header__wrapper {
  width: 100%;
  background: var(--white);
  height: 820px;
  display: flex;
  padding-inline: 32px;
  position: relative;
  margin-bottom: var(--v-spacing-l);
}

.header-test {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: var(--v-spacing-l) 32px 0;
  z-index: 1;
  width: 488px;
  background: var(--white);
  border: var(--border-base);
  border-top: none;
  box-shadow: var(--shadow-1);
  border-radius: 0px 0px var(--b-radius-1) var(--b-radius-1);
}
.header-test__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 48px;
  width: 392px;
}
.header-test__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;
  text-align: center;
  width: 392px;
  height: 336px;
  align-self: stretch;
}
.header-test-spec {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  width: 156px;
  height: 24px;
}
.header-test__start-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 12px;
  width: 392px;
  height: 90px;

  align-self: stretch;
}
.header-test__button {
  width: 392px;
  height: 56px;
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
}
.test-more-info {
  width: 424px;
  height: 124px;
  position: relative;
}
.test-more-info__text {
  position: absolute;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.test-more-info__more{
  font-family: "Futura Demi";
}
.header-graphics {
  position: absolute;
  bottom: 0;
  right: 32px;
  z-index: 0;
  width: 676px;
  height: 740px;
}

.header-logo {
  position: absolute;
  width: 112px;
  height: 80px;
  top: 64px;
  right: 48px;
  z-index: 1;
}

/* =================[  main  ]==================== */

.main {
  background: var(--white);
}
.main_wrapper {
  background: var(--gray-blue-1);
}
.main-partners {
  margin-bottom: var(--v-spacing-xl);
}
.main-partners > .main__wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--v-spacing-m);
  justify-content: center;
}
.main-partners__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--v-spacing-s);
}
.main-partners__list {
  display: flex;
  align-items: center;
  gap: 72px;
}
.main-partners__partners {
  height: 80px;
}

.main-pain > .main__wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--v-spacing-l);
  align-items: center;
  margin-bottom: var(--v-spacing-xl);
}
.main-pain__wrapper {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.main-pain-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: 100%;
}
.main-pain-list__item {
  border: var(--border-base);
  border-radius: var(--b-radius-1);
  padding: 32px;
  height: calc(272px - 64px);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#pain1 {
  width: 15%;
}
#pain3 {
  width: 35%;
}
#pain2,
#pain4,
#pain5,
#pain6 {
  width: 20%;
}

.main-pain-list__emoji {
  text-align: right;
}

.main-pain__summary {
  text-align: center;
  max-width: 768px;
  line-height: 32px;
}

.main-about-test {
  background: var(--gray-blue-1);
  padding-block: var(--v-spacing-xl);
}
.main-about-test > .main__wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}
.main-about-test__info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.about-test-list {
  display: flex;
  gap: 24px;
}
.about-test-list__item {
  border: var(--border-base);
  border-radius: var(--b-radius-1);
  padding: 0 40px;
  flex-grow: 1;
  flex-basis: 100%;
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadow-1);
}
.about-test-list__info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.about-test-list__emoji {
  font-size: 64px;
}

.main-experts > .main__wrapper {
  padding-block: var(--v-spacing-xl);
  display: flex;
  flex-direction: column;
  gap: 80px;
  text-align: center;
}
.main-experts__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.main-experts__descr {
  max-width: 512px;
}
.main-experts-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--v-spacing-m);
  column-gap: 24px;
  align-items: top;
  justify-content: center;
}
.main-experts-list__item {
  width: calc(25% - 25px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-experts-list__image-wrapper {
  width: calc(100% - 80px);
  aspect-ratio: 1;
  border-radius: 50px;
  margin-bottom: 24px;
  overflow: hidden;
  border: var(--border-base);
  box-shadow: var(--shadow-1);
}

.main-experts-list__image {
  width: 100%;
  height : 100%;
  object-fit: cover;
}
.main-experts-list__image.main-experts-list__image_person {
  width: calc(100% + 40px);
  height: calc(100% + 100px);
  object-fit: cover;
  margin-left: -20px;
  margin-top: -20px;
}
.main-experts-list__info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.main-experts-ceo {
  width: 100%;
  border: var(--border-base);
  border-radius: var(--b-radius-1);
  padding-block: var(--v-spacing-m);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main-experts-ceo__info {
  display: flex;
  gap: 40px;
  margin-inline: 40px;
}
.main-experts-ceo__person-data {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.main-experts-ceo__image-wrapper {
  width: 152px;
  height: 152px;
  border: var(--border-base);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.06);
  border-radius: var(--b-radius-2);
  overflow: hidden;
}
.main-experts-ceo__image {
  width: 152px;
  height: 152px;
}
.main-experts-ceo__data {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.main-experts-ceo__descr {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 480px;
}
.main-experts-ceo__figure {
  position: absolute;
  width: 72px;
  height: 72px;
  right: 32px;
  bottom: 32px;
}
/* =================[  footer  ]==================== */

.footer {
  background: var(--gray-blue-1);
  padding-top: var(--v-spacing-l);
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 80px;
}
.footer-test {
  position: relative;
  display: flex;
  width: 476px;
}
.footer-test__wrapper {
  display: flex;
  position: relative;
  margin-bottom: var(--v-spacing-l);
  box-sizing: border;
}
.footer-test__info {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.footer-test__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-test__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 12px;
  width: 392px;
  height: 56px;
}

.footer-test__figure {
  position: absolute;
  width: 50%;

  right: 0;
  top: -155px;
}
.footer-nav {
  display: flex;
  justify-content: space-between;
  margin-block: 80px;
}
.footer-nav__logo {
  width: 102px;
  height: 74px;
  align-self: flex-end;
}
.footer-nav__info {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.footer-nav__links {
  display: flex;
  gap: 150px;
}
.footer-nav__social {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-nav__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-nav__link {
  display: flex;
  gap: 12px;
}
.footer-nav__designer {
  transition: all 0.3s ease-in-out;
}
.footer-nav__designer:hover {
  opacity: 0.8;
}
