:root {
  --white: #ffffff;
  --green: #64d929;
  --red: #f68887;

  --blue-1: #99d2ff;
  --blue-2: #59b7fc;
  --blue-3: #1b93ea;

  --gray-blue-1: #fafbff;
  --gray-blue-2: #eff2f7;
  --gray-blue-3: #d8e4f1;
  --gray-blue-4: #9fafcf;
  --gray-blue-5: #677388;
  --gray-blue-6: #222f3f;

  --gray-1: #fafafa;
  --gray-2: #eeeeee;
  --gray-3: #d0d0d0;
  --gray-4: #828282;
  --gray-5: #262626;

  --dark-blue-1: #475060;
  --dark-blue-2: #20232b;
  --dark-blue-3: #0c0b10;

  --gradient-1: linear-gradient(90deg, #f9cabf, #bbbcf5);
  --gradient-2: linear-gradient(90deg, #ddc3e2, #dce8f5);
  --gradient-3: linear-gradient(90deg, #a4b8fc, #aedcfe);
  --gradient-4: linear-gradient(90deg, #986cc3, #56b7fe); 

  --v-spacing-xl: 144px;
  --v-spacing-l: 96px;
  --v-spacing-m : 56px;
  --v-spacing-s : 32px;

  --f-size-base: 20px;
  --f-size-h3: 24px;
  --f-size-h2: 40px;
  --f-size-h1: 64px;
  --f-size-hint: 18px;

  --f-weight-base: 400;
  --f-weight-descr: 400;
  --f-weight-bold: 500;
  --f-weight-h2: 800;
  --f-weight-h1: 400;
  
  --l-height-base: 22px;
  --l-height-h3: 24px;
  --l-height-h2: 48px;
  --l-height-h1: 64px;
  --l-height-hint: 22px;

  --border-base: 1px solid var(--gray-blue-3);
  --border-btn: 2px solid var(--blue-2);
  
  --b-radius-1: 20px;
  --b-radius-2 : 30px; 
  --b-radius-btn: 12px; 

}